.blog-container {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.blog-section-position {
    height: 90vh;
    width: 95%;
}

.blog-section {
    width: 100%;
    height: 105vh;
    background-color: #14152e;
}

.blog-header {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.blog-rows {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-row1 {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.blog-row2 {
    text-align: center;
    font-size: 19px;
    color: white;
    opacity: 0.7;
}

.blog-content {
    width: 100%;
    height: 75vh;
}

.blog-img-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.blog-box {
    height: 53vh;
    width: 24.5%;
    border-radius: 15px;
    background-color: #1d1e29;
}

.blog-img1 {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 30vh;
    background-image: url(./images/image-blog-6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.blog-img2 {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 30vh;
    background-image: url(./images/image-blog-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.blog-img3 {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 30vh;
    background-image: url(./images/image-blog-7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.blog-text-box {
    width: 100%;
    height: 23vh;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.blog-text-row1 {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
}

.blog-text-row1 p {
    opacity: 0.7;
    color: white;
    font-size: 15px;
}

.blog-text-row2 {
    width: 90%;
    height: 10vh;
}

.blog-text-row2 p {
    color: white;
    font-size: 23px;
    font-weight: bold;
}

